<h2>Karaoke Listing</h2>

<table>
	<tr>
		<td>Code</td>
		<td>Name</td>
	</tr>
	
<% @karaokes.each do |karaoke| %>
	<tr>
		<td><%= karaoke.code %></td>
		<td><%= karaoke.name %></td>
	</tr>
<% end %>
</table>