// Place all the styles related to the Karaokes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #3bbcfe;
$font: normal 12px arial;

body{
	font:$font;	
}

@mixin table-base{
	tr td{
		padding:3px 0px;	
		border-bottom: 1px dotted #ccc;
	}
	
}

@mixin left($data){
	float:left;
	padding-left:$data;
}

.karaoke-listing{
	@include left(30px);
	@include table-base;
	padding:2px;
	border:1px solid #ccc;
	width:300px;
	font:$font;
}


